.entire {
    margin: 50px auto;
    width: 90%;
}
.tab-content {
    margin-top: 50px;
}


#home textarea, #share textarea{
    height: 100px;
}
#home .btn {
    margin-top: 10px;
    float: right;
}

.player-list {
    list-style: none;
    padding-left: 0px;
}

#add-player .player-list li select, #add-player .player-list li input{
    display: inline-block;
    width: calc(50% - 30px);
    box-sizing: border-box;
}
#add-player .player-list li input {
    margin-right: 10px;
}
#add-player .player-list li select {
    margin-right: 10px;
}
#add-player .player-list li button {
    float: right;
    vertical-align: top;
}


.phase .header {
    font-size: 14pt;
    text-align: center;
}
.phase .row {
    margin: 10px 0px;
    padding: 10px 0px;
    border-bottom: 1px solid #aaa;
}
.phase .player-list {
    margin: 0px;
    padding: 0px;
}
.phase .player-list li select {
    display: inline-block;
    width: calc(100% - 50px);
    margin-right: 10px;
}
.phase .btn {
    vertical-align: top;
    float: right;
}

#my-roles {
    list-style: none;
    margin-top: 20px;
    font-size: 14pt;
}